body{
margin: 0px;
padding:0px;
background-color: rgb(225 236 225); 
background-attachment: fixed;
font-family: sans-serif;
}
.no-dot-list{
    list-style-type: none;
}
nav{
    text-align: right;
}
nav ol li{
    display: inline;
    margin: 0 50px;
}
header{
    background-color: rgb(14, 149, 104);
    padding: 10px;
}

.col{
   display: flex;
   margin: 50px;
   border-radius: solid;
   padding: 10px;
   font-weight: bold;
}
.row{
    border-radius: solid;
    padding: 5px; 
}
.jaf{
     color:white;
     font-size: 2em;
}
span{
    color:  rgb(10, 145, 64);
 }
a{
    list-style: none;
    text-decoration: none;
    color: white;
}

.flex2{
    display: flex;
    justify-content: center;
    width: 10;
    margin: 5px;
}

.pics{
    width: 250%;
    border-radius: 100px;
}
  .head{
      display: block;
  }

  .img2{
    width: 30%;
  }

footer{
    padding: 10px;
    color: white ;
    display: flex;
    justify-content: center;
    background-color: rgb(14, 149, 104);
}

.p2{
    font-size: 1.5em;
    text-decoration: solid;
    margin-left: 100px;
}

.int{
    padding: 15px;
    border-radius: 10px;
}
.head{
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-top: 50px;  
}

button{
    color: white;
    background-color: yellowgreen;
    border-radius: 8px;
    width: 25%;
    padding: 15px;
    font-size: 1em;
    border: none;
}

.img2{
    width: 70%;
}
.h1b{
    font-size: 3em;
}

h3{
    font-size: 1.1em;
    text-decoration: solid;
}
.form{
    margin: 20px;
    padding: 20px;
    text-align: center;
}
.sub{
    background-color:  rgb(14, 149, 104);
}


@media (max-width: 768px){
    body{
        width: 100%;
    }
}
